main .slider {
    width: 100%;
    height: 70vh;
    background-image: url("../images/banner-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main .intro {
    margin-top: 30px;
}

main .intro .video {
    width: 50%;
}

main .intro .intro-text {
    width: 50%;
    padding: 15px;
    font-weight: 300;
    text-align: center;
}

.intro .intro-text h3 {
    font-weight: 300;
}

.intro .video iframe {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 12px 0px;
}